@model GBBNews.Models.NewsArticle

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>NewsArticle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticlePicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticlePicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Newsarticle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Newsarticle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsGenre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsGenre.NewsGenreId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NewsArticleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
